<div class="mainContainer">
    <div class="mainHeader">
        <p class="currentDay">Day: ____</p>
        <p class="currentHour">Hour: ____</p>
        <p class="currentLocation"> You are: <span>here</span></p>
    </div>
    <div class="mainBody">
        <ol>
            <li>Option #1</li>
            <li>Option #2</li>
            <li>Option #3</li>
        </ol>
    </div>
    <div class="mainFooter">
        <p class="userMinutes">You have ___ minutes left.</p>

        <button type="button" ng-href="/profile">Player Info</button>
    </div>
</div>