<div class="profile profileBack">
    <div class="upperProfile">
        <!--THIS IS WHERE YOUR CHARACTER'S NAME GOES--------------------------------------------->
        <p class="profileName">NAME LAST</p>
        <!--THIS IS WHERE YOUR CHARACTER'S PHOTO GOES--------------------------------------------->
        <img class="profileIcon" src="https://placehold.it/100x150" alt="some_text">
        <!--THIS IS WHERE YOUR CHARACTER'S JOB TITLE / CLASS GOES--------------------------------------------->
        <p class="profileJob">JOB TITLE</p>
    </div>

    <!--THIS IS WHERE THE STATS / INVENTORY / TASKS GO --------------------------------------------->
    <div class="lowerProfile">
        <div id="Carousel" class="carousel slide profileCarousel" data-ride="carousel" data-interval="false">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <!--INVENTORY--------------------------------------------->
                <div class="item active">
                    <p class="carouselTitle">INVENTORY</p>
                    <p class="carouselObjects">ITEM 1</p>
                    <p class="carouselObjects">ITEM 2</p>
                    <p class="carouselObjects">ITEM 3</p>
                    <p class="carouselObjects">ITEM 4</p>
                </div>
                <!--TASKS--------------------------------------------->
                <div class="item">
                    <p class="carouselTitle">TASKS</p>
                    <p class="carouselObjects">TASK 1</p>
                    <p class="carouselObjects">TASK 2</p>
                    <p class="carouselObjects">TASK 3</p>
                    <p class="carouselObjects">TASK 4</p>
                </div>
                <!--STATS--------------------------------------------->
                <div class="item">
                    <p class="carouselTitle">STATS</p>
                    <p class="carouselObjects">STAT 1</p>
                    <p class="carouselObjects">STAT 2</p>
                    <p class="carouselObjects">STAT 3</p>
                    <p class="carouselObjects">STAT 4</p>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" data-target="#Carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" data-target="#Carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>