<div class="profile">
    <div class="Upper Profile">
        <p class="profileName">NAME LAST</p>
        <img class="profileIcon" src="https://placehold.it/100x150" alt="some_text">
        <p class="profileJob">JOB TITLE</p>
    </div>
    <div class="bs-example">
        <div id="Carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                <li data-target="#Carousel" data-slide-to="1"></li>
                <li data-target="#Carousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    <h3>INVENTORY</h3>
                    <p>ITEM 1</p>
                    <p>ITEM 2</p>
                    <p>ITEM 3</p>
                    <p>ITEM 4</p>
                </div>
                <div class="item">
                    <h3>TODO</h3>
                    <li>TASK 1</li>
                    <li>TASK 2</li>
                    <li>TASK 3</li>
                    <li>TASK 4</li>
                </div>
                <div class="item">
                    <h3>STATS</h3>
                    <p>STAT</p>
                    <p>TASK 2</p>
                    <p>TASK 3</p>
                    <p>TASK 4</p>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left" href="#Carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#Carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>