@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Roboto);
}
@font-face {
    font-family: 'Roboto Slab', serif;
    src: url(https://fonts.googleapis.com/css?family=Roboto+Slab);
}

/*MAIN PAGE*/

.mainContainer{
    font-family: "Roboto Slab";
    background-color: #667799;
    align-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10% 5%;
    text-align: center;
}
.mainHeader{

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
.currentDay{

}
.currentHour{

}
.currentLocation{

}
.mainBody{
    width: 92%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: palegoldenrod;
    border-radius: 15px;

}
.userOptionsContainer{
    font-family: 'Roboto Slab', serif;
    font-size: xx-large;
    font-weight: 300;
}
.userOptions{
    margin-top: 10%;
    padding: 8%;
    margin-left: auto;
    margin-right: auto;

}
.mainFooter{
    
}
.userMinutes{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Roboto', serif;
    font-weight: 100;

}
.infoButton{

}

/*PROFILE / INFO PAGE*/

.profile{
    background-color: #222;
    font-weight: 100;
    color: white;
    margin-top: 16px;
    height: 500px;
}
.upperProfile{
    padding-top:5px;
}
.lowerProfile{
    margin-top: 8%;
}
.profileName{
    font-family: "Roboto";
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
    margin-top: 5%;
    margin-bottom: 5%;
}
.profileIcon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.profileJob{
    text-align: center;
    font-size: large;
    font-weight: 100;
    margin-top:6%;
    font-family: "Roboto Slab";
}
.profileCarousel{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carouselTitle{
    font-family: "Roboto";
    font-weight: 700;
    color: #667799;
    font-size: 36px;
    margin-bottom: 4%;
}
.carouselObjects{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: medium;
}